*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    /* padding: 20px 40px; */
    display: flex;
}
.left-container{
    width: 400px;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 100px 30px;
}

.left-container h1{
    font-size: 25px;
}

.category-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.category-container div{
    width: 100%;
    border: 2px solid white;
    padding: 8px 10px;
    background-color: white;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.9);
}

.right-container{
    width: 1225px;
    margin-left: 400px;
    background-color: rgba(0, 0, 0, 0.1);
}
.right-container h2{
    text-align: center;
    font-size: 27px;
    font-weight: bolder;
    padding: 20px 0px;
}
.products-container{
    background-color: white;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    border-radius: 4px;
}

.product-item{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    border-radius: 5px;
    display: none;
}

.product-item button{
    width: 90%;
    padding: 5px 0px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.product-item img{
    width: 200px;
    height: 200px;
}
.product-item p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.product-item h4{
    font-size: 19px;
    padding-bottom: 10px;
}

.products-container .active{
    display: block;
}

@media screen and (max-width:1200px) {
    .left-container{
        width: 300px;
    }

    .right-container{
        margin-left: 300px;
    }
}

@media screen and (max-width:1055px) {
    .products-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:818px) {
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width:634px) {
    .left-container{
        width: 250px;
    }
    .right-container{
        margin-left: 250px;
    }
}

@media screen and (max-width:588px) {
    .left-container{
        width: 170px;
    }
    .right-container{
        margin-left: 170px;
    }
}