*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;
    padding: 100px 0px 300px 0px;
}

h3{
    font-size: 50px;
    color: white;
    padding-bottom: 50px;
}

.container .item{
    width: 800px;
    padding: 70px 0px;
    background-color: white;
    display: flex;
    justify-content:center;
    column-gap: 80px;
    border-radius: 4px;
}
.item .child{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
    color: black;
    row-gap: 20px;
    font-weight: 800;
}