 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background: url("./images/background.jpg");
  /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./images/background.jpg'); */
  background-size: cover;
}



.weather-area{
  width: 400px;
  /* background-color: green; */
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 16px;
  height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.search-box{
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgba(255, 255, 255, .2);
  padding: 19px;
}

.search-box input{
  width: 100%;
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px 14px;
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.search-box i{
  position: absolute;
  left: 3px;
  font-size: 23px;
  color: black;
}

.search-box input::placeholder{
  font-size: 17px;
  color: white;
}

.search-box button{
  position: absolute;
  right: 0px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}