*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    padding: 200px 0px;
    background-color: slategray;
}

.container .child{
    width: 500px;
    padding: 50px 50px;
    border-radius: 10px;
    background-color: white;
}

.child h1{
    text-align: center;
    color: goldenrod;
}

.item{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 0px;
    margin-top: 20px;
    border-radius: 10px;
}

.item .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 12px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}


.first i{
    color: goldenrod;
    padding: 5px;
    border: 1px solid goldenrod;
    border-radius: 50%;
    cursor: pointer;
}

.second p{
    padding:0px 12px;
}

.second{
    display: none;
}

.show{
    display: block;
}

/* next */

.rotate{
    transform: rotate(180deg);
}

