*{
    margin: 0px;
    padding: 0px;
}

header{
    position: sticky;
    top: 0px;
    background-color: black;
    transition:0.8s;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 150px;
}

header.scrolled{
    background-color: white;
    transition: 0.5s;
}

header.scrolled .logo{
    color: black;
}

.logo{
    font-size: 40px;
    color: white;
}

.menu-list{
    display: flex;
    column-gap: 74px;
    align-items: center;
}
.menu-list li{
    list-style-type: none;
}

.menu-list li a{
    text-decoration: none;
    font-size: 21px;
    color: white;
}

header.scrolled a{
    color: black;
}

header.scrolled i{
    color: black;
}

.services{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.about{
    width: 100%;
    height: 100vh;
    background-color: red;
}

h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

nav .open{
    display: none;
    cursor: pointer;
    color: white;
}

nav .close{
    display: none;
    cursor: pointer;
    color: white;
}

@media screen and (max-width:1040px) {
    nav{
        padding: 25px 40px;
    }
   nav .menu-list{
    position: absolute;
    left: -999px;
    top: 97px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 80px;
    transition: 0.4s;
    }

    nav .menu-list li:first-child{
        padding-top: 90px;
    }

    nav .active{
        left: 0px;
    }

     nav .hide{
        display: block;
    } 

}