*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.calculator-container{
    height: 100vh;
    padding: 140px 610px;
    background-color: #1E202B;

}

.calculator{
    background-color: #191A23;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

.calculator-container .cal-heading input{
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #191A23;
    color: white;
    font-size: 23px;
}

.calculator-container .cal-field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px 0px;
}

.cal-field .key,.result,.removeOne{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 16px;
    color: gray;
    border-radius: 30px;
    cursor: pointer;
    font-size: 19px;
}

.key:hover{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
}

.result{
    background-color: black;
}


.key:active{
    color: whitesmoke;
}

/* 
#1E202B
#191A23
#949599
*/

@media screen and (max-width:1488px) {
    .calculator-container{
        height: 100vh;
        padding: 50px 510px;
        background-color: #1E202B;
    
    }
}

@media screen and (max-width:1288px) {
    .calculator-container{
        height: 100vh;
        padding: 50px 410px;
        background-color: #1E202B;
    
    }
}

@media screen and (max-width:1188px) {
    .calculator-container{
        height: 100vh;
        padding: 50px 310px;
        background-color: #1E202B;
    
    }
}

@media screen and (max-width:992px) {
    .calculator-container{
        height: 100vh;
        padding: 50px 310px;
        background-color: #1E202B;
    
    }
}

@media screen and (max-width:872px) {
    .calculator-container{
        height: 100vh;
        padding: 50px 210px;
        background-color: #1E202B;
    
    }
}

@media screen and (max-width:705px) {
    .calculator-container{
        height: 100vh;
        padding: 50px 110px;
        background-color: #1E202B;
    
    }
}