*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tab-container{
    padding: 200px 570px;
    background-color: aliceblue;
}

.tabs{
    background-color: white;
    border-radius: 6px;
}

.tab-heading{
    display: flex;
    justify-content: space-between;
    background-color: #E3E8FB;
}


.tab-heading li{
    list-style-type: none;
    padding:20px 25px;
    cursor: pointer;
}

.tab-heading li:hover{
    background-color: white;
}
.tab-discription{
    margin-top: 14px;
    padding: 10px 25px;
}

.tab-discription h2{
    padding-bottom: 7px;
}

.tab-discription p{
    line-height: 20px;
    font-size: 16px;
}