*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    background-color: #F8DD74;
}

.search-container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;
    margin-top: 70px;
}

.search-container input{
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-container button, input{
    border: none;
    outline: none;
    padding: 16px;
    font-size: 16px;
}

.search-container button{
    background-color: indigo;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}


.food-container{
    margin-top: 60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    display: flex;
}

.food-container .food-show{
    max-width: calc(1200px - 25px);
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

.food-show .item{
    width: calc(300px - 25px);
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.item img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item .item-title{
    font-size: 22px;
    color: #333;
    text-align: center;
    padding: 12px 0px;
}

.item-details{
    padding: 0px 24px;
}



.food-detail{
    margin: 0px auto;
    margin-bottom: 70px;
    display: none;
    background-color: white;
    border-radius: 10px;
}

.food-detail .item{
    position: relative;
}

.food-detail .item .remove-btn{
    position: absolute;
    font-size: 30px;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    right: -23px;
}

.food-detail .title{
    padding: 20px 20px;
    text-align: center;
    font-size: 30px;
}

.food-detail .item-details{
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    padding: 30px;
}


.food-show .item .item-details{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 6px;
}

.item-details .itdt{
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.food-detail.active{
    display: block;
}

.food-detail img{
    width: 500px;
    height: 290px;
    object-fit: cover;
}

.error{
    font-size: 40px;
    color: red;
}


@media screen and (max-width:1200px) {
    .food-show{
        width: calc(900px - 25px);
    }
}

@media screen and (max-width:904px) {
    .food-show{
        width: calc(600px - 25px);
    }

    .search-container button, input{
        padding: 12px;
    }
}

@media screen and (max-width:600px) {
    .food-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .food-show{
        width: 90%;
    }

    .food-show .item{
        width: 100%;
    }

    .search-container{
        width: 390px;
    }

    .search-container button, input{
        padding: 10px;
    }

    .food-detail img{
        width: 400px;
        height: 240px;
    }
}