*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.btn-container{
    width: 800px;
    margin: 0px auto;
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: indigo;
    color: white;
    font-size: 19px;

}

.products-container{
    width: 1500px;
    margin: 0px auto;

    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    overflow: hidden;
}
.product{
    width: 300px;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
}

img:hover .overlay{
    visibility: visible;
}

.product.active{
    display: block;
}
.product.hide{
    display: none;
}

.product img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

img:hover{
    transform: scale(1.1);
}

img:hover .overlay{
    visibility: visible;
}

@media screen and (max-width:1545px) {
    .products-container{
        width: 900px;
    }
}

@media screen and (max-width:946px) {
    .products-container{
        width: 95%;
    }

    .btn-container{
        width: 95%;
    }
    button{
        padding: 6px 20px;
    }
}
