*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 

 .container{
    max-width:700px;
    width: 100%;
    padding: 50px 40px;
    background-color: white;
    border-radius: 6px;
 }


 .box{
    margin-bottom: 20px;
 }

 .title{
    display: block;
    margin-bottom: 5px;
    color: gray;
 }

 .outer{
    width: 100%;
    height: 7px;
    border-radius: 6px;
    background-color: gray;
 }

 .inner{
    height: 100%;
    background-color: blue;
    border-radius: 6px;
    position: relative;
 }

 .html{
    width: 90%;
 }

 .css{
    width: 95%;
 }

 .js{
    width: 80%;
 }

 .react{
    width: 60%;
 }

 .percentage{
    display: block;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: -23px;
    font-size: 13px;
    background-color: blue;
    padding: 2px;
    color: white;
    border-radius: 2px;
    z-index: 1;
 }

 .percentage::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    z-index: -1;
    bottom: -2px;
    right: 0px;
    transform: rotate(45deg);
 } */

 .skill-section{
    background-color: aqua;
 }

 .container{
    width:600px;
    margin: 0px auto;
    padding: 190px 0px;
 }

 .container .item{
    padding:26px;
    background-color: white;
    border-radius: 7px;
 }

 .item .box{
    margin: 27px 0px;
 }
 .box .title{
    font-size: 17px;
    font-weight: 800;
 }

 .box .outer{
    width:100%;
    height: 8px;
    background-color: gray;
    border-radius: 6px;
    margin-top: 10px;
 }

 .outer .inner{
    height: 100%;
    border-radius: 6px;
    background-color: indigo;
    position: relative;
 }

 .outer .html{
    width:70%;
 }

 .outer .css{
    width:75%;
 }

 .outer .js{
    width: 90%;
 }

 .outer .node{
    width: 45%;
 }


  .percentage{
    display: block;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: -23px;
    font-size: 13px;
    background-color: indigo;
    padding: 2px;
    color: white;
    border-radius: 2px;
    z-index: 1;
 } 

 .percentage::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: indigo;
    z-index: -1;
    bottom: -2px;
    right: 0px;
    transform: rotate(45deg);
 } 
