*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



header{
    background-color: green;
    position: sticky;
    top:0px;
    /* transition: background-color 0.4s ease-in-out; */
    transition: 0.4s ease-in-out;
}
header.scrolled{
    background-color: white;
    /* opacity: 0.98; */

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    padding: 10px 90px;

}



/* nav.active{
    background-color: red;
} */

.scrolled .heading{
    color: black;
}

nav .heading{
    font-size: 50px;
    color: white;
}



nav ul{
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
    margin-left: 25px;
}

.scrolled li a{
    color: black;
}

li a{
    text-decoration: none;
    color: white;
}

.about-section{
    width: 100%;
    height: 100vh;
    background-color: green;
}

.contact-section{
    width: 100%;
    height: 100vh;
    background-color: tomato;
}

.footer-section{
    width: 100%;
    height: 100vh;
    background-color: darkcyan;
} 

